<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />

    <title>Arcon</title>
  </head>
  <body>
    <!--Navbar-->
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <a href="index.html">Arcon</a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a href="#footer">About</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="log.html">Sign in/up</a></li>
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
    </nav>
    <section class="home"></section>
    <!--End Navbar-->

    <hr />

    <!--Gallery-->
    <section class="gallery" id="gallery">
      <div class="gallery-images">
        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              src="https://images.unsplash.com/photo-1503800399735-0df96e4f3a37?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=0d1ff7459df4ab91247b30cb3612beca"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image gallery-image--2x2 loaded">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1475173277047-80300315b309?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=d49db408d00763f0ed9aac959556d791"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1523205221523-4ea4a686d5ab?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=35e68aeb9d1950ccb0a8ea4e90345315"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1499278758973-526e44fe17ac?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=1f08fcea18c8e0257582677f643d89cc"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1526820148479-7d2fc135cfdb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=77425390c1c56b883c0a39d5ca5bcd12"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1527343573477-4b558544d4d0?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=f51b818c0a3585f821942ab4b95b446e"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1476535882942-632ab96c48aa?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=55560b5dbfe4a6edfc93f16ed1063197"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1481056447409-db8232bd2321?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=9ba82fa3c8aafa46e184a86824670c72"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              src="https://images.unsplash.com/photo-1503800399735-0df96e4f3a37?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=0d1ff7459df4ab91247b30cb3612beca"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image gallery-image--2x2 loaded">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1475173277047-80300315b309?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=d49db408d00763f0ed9aac959556d791"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1523205221523-4ea4a686d5ab?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=35e68aeb9d1950ccb0a8ea4e90345315"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1499278758973-526e44fe17ac?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=1f08fcea18c8e0257582677f643d89cc"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1526820148479-7d2fc135cfdb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=77425390c1c56b883c0a39d5ca5bcd12"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              src="https://images.unsplash.com/photo-1503800399735-0df96e4f3a37?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=0d1ff7459df4ab91247b30cb3612beca"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image gallery-image--2x2 loaded">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1475173277047-80300315b309?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=d49db408d00763f0ed9aac959556d791"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1523205221523-4ea4a686d5ab?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=35e68aeb9d1950ccb0a8ea4e90345315"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1499278758973-526e44fe17ac?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=1f08fcea18c8e0257582677f643d89cc"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>

        <figure class="gallery-image">
          <div class="gallery-image__crop">
            <img
              class="gallery-image__media"
              alt=""
              src="https://images.unsplash.com/photo-1526820148479-7d2fc135cfdb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=77425390c1c56b883c0a39d5ca5bcd12"
            />
          </div>
          <figcaption class="gallery-image__caption"></figcaption>
        </figure>
      </div>
    </section>
    <!-- End Gallery-->

    <hr />

    <!--Footer-->

    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About us</h6>
            <p class="text-justify">
              Arcon is a contemporary art gallery presenting a wide range of
              works of art from young and talented artists to recognizable
              masters. Our mission is to share beauty and inspiration through
              art, creating a unique space for creative exchange and learning.
            </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6></h6>
            <ul class="footer-links">
              <li><a href=""></a></li>
              <li>
                <a href=""></a>
              </li>
              <li>
                <a href=""></a>
              </li>
              <li>
                <a href=""></a>
              </li>
              <li>
                <a href=""></a>
              </li>
              <li>
                <a href=""></a>
              </li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li>
                <a href="">Contribute</a>
              </li>
              <li>
                <a href="">Privacy Policy</a>
              </li>
              <li><a href="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr />
      </div>

      <div class="unique-timeline">
        <div class="unique-container container">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                  Copyright &copy; 2023 All Rights Reserved by
                  <a href="#">Arcon</a>.
                </p>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li>
                    <a class="facebook" href="#"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a class="twitter" href="#"
                      ><i class="fa fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a class="dribbble" href="#"
                      ><i class="fa fa-dribbble"></i
                    ></a>
                  </li>
                  <li>
                    <a class="linkedin" href="#"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--End Footer-->

    <!--Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="fun.js"></script>

    <script>
      $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
          $(".nav").addClass("affix");
          console.log("OK");
        } else {
          $(".nav").removeClass("affix");
        }
      });
    </script>
    <!--End Script-->
  </body>
</html>
