@import url("https://fonts.googleapis.com/css2?family=Average&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Average", serif;
  font-size: 62.5%;
  font-size: 10px;
  background-color: #111;
}
.recent-contacts {
  margin-top: 30px;
}

.recent-contacts h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recent-contacts ul {
  list-style: none;
  padding: 0;
}

.recent-contacts li {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.recent-contacts li strong {
  color: #333;
}

.recent-contacts li small {
  font-style: italic;
  color: #888;
}

/* Navbar */
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 1000;
  grid-template-areas: "logo" "main_list";
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color: #c82020;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: grid;
  grid-template-areas: "li1 li2 li3 li4 li5";
  list-style: none;
  margin: 0;
  padding: 0;
}
.li1 {
  grid-area: li1;
}
.li2 {
  grid-area: li2;
}
.li3 {
  grid-area: li3;
}
.li4 {
  grid-area: li4;
}

.li5 {
  grid-area: li5;
}
.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2.4rem;
  transition: border-bottom 0.5s ease-in-out;
}

.nav div.main_list ul li a:hover {
  border-bottom: 1.5px solid #c82020;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(C:\Users\Despention\Desktop\иб\ЛЗ_2\ПЗ.ЛЗ_2\static\img\vassilios-bayiokos-knights-battling-low.jpg);
  background-position: center top;
  background-size: cover;
  filter: brightness(0.5);
  object-fit: cover;
}

/* ��� ��������� */
@media (max-width: 768px) {
  .home {
    background-position: center center;
  }
}

/* ��� ��������� ��������� */
@media (max-width: 480px) {
  .home {
    background-position: center bottom;
  }
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav .container {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .navTrigger {
    display: block;
  }
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    background-position: center top;
    display: flex;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
}

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fafafa;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #000000;
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}
@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

/* End Navbar */

/* Footer */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  display: grid;
  grid-template-areas:
    "about-links quick-links"
    "unique-timeline";
}

.col-sm-12.col-md-6 {
  grid-area: about-links;
}

.col-xs-6.col-md-3:first-child {
  grid-area: quick-links;
}

.col-xs-6.col-md-3:last-child {
  grid-area: unique-timeline;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #c82020;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: grid;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  text-decoration: none;
  color: #c82020;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* End Footer*/

/* Timeline */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.timeline h1 {
  padding-left: 40%;
  color: #fff;
  align-items: center;
}

.timeline .container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.timeline .container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #c82020;
  margin-top: 10px;
  z-index: 100;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #fefefe;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-content span {
  font-size: 15px;
  color: #ffffff;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #b7b3b3;
}

@media screen and (max-width: 768px) {
  .timeline .container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

/*End Timeline*/

/* Video */
.video hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px #f5f7fa;
  color: #fff;
}

.video {
  display: grid;
  place-items: center;
}
/* End Video */

/* Aboutus*/
.Aboutus .container {
  width: 90%;
  height: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-areas: "contentLeft contentRight";
  align-items: center;
  grid-gap: 60px;
  padding: 35px 0;
}

.contentLeft {
  grid-area: contentLeft;
}

.contentRight {
  grid-area: contentRight;
}
.contentLeft .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.contentLeft .row .imgWrapper {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.contentLeft .row .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  transition: 0.3s ease;
}
.contentLeft .row .imgWrapper:hover img {
  transform: scale(1.5);
}
.contentLeft .row .imgWrapper:nth-child(odd) {
  transform: translateY(-20px);
}
.contentLeft .row .imgWrapper:nth-child(even) {
  transform: translateY(20px);
}
.contentRight .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.contentRight .content h4 {
  font-size: 22px;
  font-weight: 400;
  color: #d30000;
}
.contentRight .content h2 {
  font-size: 40px;
  color: #ffffff;
}
.contentRight .content p {
  font-size: 16px;
  color: #ffffff;
  line-height: 28px;
  padding-bottom: 10px;
}
.contentRight .content a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 30px;
  color: #fff;
  background: #d30000;
  border-radius: 8px;
  user-select: none;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .contentLeft .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .contentLeft .row .imgWrapper {
    height: 150px;
  }
  .contentRight .content h4 {
    font-size: 18px;
  }
  .contentRight .content h2 {
    font-size: 30px;
  }
}

/* End Aboutus*/

/* Gallery */

.gallery * {
  margin: 0;
}

.gallery-images {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-gap: 30px 20px;
  grid-template-columns: auto;
  grid-auto-flow: dense;
}

@media (min-width: 600px) and (max-width: 1099px) {
  .gallery-images {
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    grid-auto-flow: dense;
  }
}

@media (min-width: 1100px) {
  .gallery-images {
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), 1fr));
    grid-auto-flow: dense;
  }
}

.gallery-image {
  display: block;
  width: 100%;
  grid-area: auto;
  position: relative;
  transform: scale(1, 1);
  transition: transform 0.125s ease;
  &:hover:not(.gallery-image__preview) {
    transform: scale(1.02, 1.02);
  }
}

.gallery-image__crop {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-image__media {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-image__caption {
  display: none;
}

@media (min-width: 600px) and (max-width: 1099px) {
  .gallery-image__preview {
    display: block;
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
}

@media (min-width: 1100px) {
  .gallery-image__preview {
    display: block;
    grid-column-end: span 4;
    grid-row-end: span 4;
  }
}

.gallery-image__preview .gallery-image__caption {
  display: block;
  font-family: "Inter UI", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 14px;
  color: white;
  background: hsla(0, 0%, 20%, 0.9);
  text-align: justify;
}

/* End Gallery */

/* Card */

.Card .page-title {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 2rem;
  padding-top: px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}
.Card .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-attachment: fixed;
  padding: 20px;
}

.Card .card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  display: grid;
  grid-template-areas:
    "circle"
    "content";
}

.Card .card:hover {
  filter: blur(0px);
  transform: scale(1.05);
  opacity: 1;
}

.circle {
  grid-area: circle;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
}

.circle h2 {
  color: #fff;
  font-size: 4.5em;
  padding: 30px 0;
}

.Card .content {
  grid-area: content;
  position: relative;
  padding: 20px;
  text-align: center;
  background: #d30000;
}

.Card .content p {
  color: #ffffff;
  font-size: small;
}

/* End Card */
